/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  
	  #title-sponsor{
	
	letter-spacing:5px !important;
	margin-top:.4em !important;
	font-size: 27px;
}
	  #title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 7px;
}
	  #presents{
	font-size:21px;
	letter-spacing: 3px;
	padding-top:7px;
	padding-bottom:3rem;
}
	  #date{
		  font-size:25px;
	  }
	  #title-a3kr{
	
	font-size:22px;
	letter-spacing:6px;
		  padding-bottom:4px;
}
	  #title-a3k{
	
	font-size:29px;
	letter-spacing:7px;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	  
#title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 7px;
}
	  
	.logoa3k{
	
	width:200px;
	height:100px;
	padding-bottom:10px;
	
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { #title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 7px;
  margin-top: -69px;
  padding-left: 10px;
}
	  
	.logoa3k{
	
	width:200px;
	height:100px;
	padding-bottom:10px;
	
}


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	  #title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 6px;
}
	  
	.logoa3k{
	
	width:200px;
	height:100px;
	padding-bottom:10px;
	
}


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	  #title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28.5px;
  letter-spacing: 6px;
}	
#title-sponsor{
	
	letter-spacing:5px !important;
	margin-top:.5em !important;
	font-size: 29.5px;
}
	  #presents{
	
	letter-spacing: 3px;
	padding-top:7px;
	padding-bottom:3rem;
}


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

